<!DOCTYPE html>
<html>
  <head>
    <title>Components</title>
  </head>
  <script
    type="text/javascript"
    src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"
  ></script>
  <body>
    <div
      id="mynetwork"
      style="width: 1500px; height: 900px; border: 1px solid lightgray"
    ></div>
    <script>
      function draw() {
        // create a network
        var container = document.getElementById('mynetwork');
        var data = ${data};
        var options = {
          nodes: {
            shape: 'dot',
            size: 16,
            physics: true
          },
          edges: {
            arrows: {
              to: {
                enabled: false,
                scaleFactor: 0.7
              }
            }
          },
          physics: {
            forceAtlas2Based: {
              gravitationalConstant: -26,
              centralGravity: 0.005,
              springLength: 230,
              springConstant: 0.18
            },
            maxVelocity: 146,
            solver: 'forceAtlas2Based',
            timestep: 0.35,
            stabilization: { iterations: 150 }
          }
        };
        var network = new vis.Network(container, data, options);
      }

      window.addEventListener('load', () => {
        draw();
      });
    </script>
  </body>
</html>
